a{
	text-decoration: none;
}
h1{
	-webkit-hyphens: none;
	color: #5C432B;
	font-family: "Baskerville";
	font-size: 112.5000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.6283%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: center;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
p{
	margin: 0px;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
.s1{
	-webkit-hyphens: none;
	color: #5C432B;
	font-family: "Baskerville";
	font-size: 187.5000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.6283%;
	margin-top: 0.0000%;
	text-align: center;
	text-decoration: none;
	text-transform: none;
}
.s2{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Baskerville";
	font-size: 75.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-indent: 2.1204%;
	text-transform: none;
}
.s3{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Baskerville";
	font-size: 75.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 2.1204%;
	text-transform: none;
}
.s4{
	font-family: "PingFang SC Regular";
	font-size: 93.7500%;
}
.s5{
	font-family: "PingFang SC Regular";
	font-size: 56.2500%;
}
.s6{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Baskerville";
	font-size: 125.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	text-align: left;
	text-transform: none;
}
.s7{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 75.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.3141%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s8{
	font-size: 125.0000%;
}
.s9{
	-webkit-hyphens: none;
	color: #000000;
	font-family: "Baskerville";
	font-size: 125.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-transform: none;
}
.s10{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 75.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.3141%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-indent: 0.0000%;
	text-transform: none;
}
.s11{
	font-family: "PingFang SC Regular";
	font-size: 93.7500%;
	text-align: center;
}
.s12{
	list-style: none;
}
.s13{
	-webkit-hyphens: none;
	color: #5C432B;
	font-family: "Baskerville";
	font-size: 125%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s14{
	-webkit-hyphens: none;
	color: #5C432B;
	font-family: "Baskerville";
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.c1{
	text-decoration: underline;
}
.c2{
	color: #000000;
}
